.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 50px auto;
}
.left, .right {
    min-width: 300px;
    max-width: 500px;
    flex-basis: 49%;
    text-align: center;
    margin: 30px;
}
.right img {
    width: 100%;
    border-radius: 50%;
    padding: 2rem;
}
.left .btn {
    margin: 20px 0;
}
.about-button {
    display: flex;
    justify-content: space-between;
}
.about-button .bx-file-blank{
    font-weight: bold;
}
#icons {
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.left a {
    margin: 0px 4px;
}


@media screen and (max-width: 1112px){
    .about {
        flex-wrap: wrap-reverse;
    }
    
    .left, .right {
    margin: 10px;
}
}
@media screen and (max-width: 740px){
    .left .btn {
        padding: 8px 10px;
        font-size: 13px;
    }
    .left h1 {
        font-size: 20px;
    }
    .left p {
        font-size: 13px;
    }
    .right img {
        padding: 0;
    width: 70%;
}
}