.container-2 {
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.329); */
  max-width: 1024px;
  margin: 100px auto 100px;
}
.contact-box {
  display: flex;
}
.contact-box-1 {
  flex-basis: 60%;
  padding: 20px;
  color: #fff;
  border: 1px solid #fff;
}
.contact-box-2 {
  padding: 20px;
  flex-basis: 40%;
  background: #333;
  color: #fff;
}
/* .input-row {
  display: flex;
  justify-content: space-between;
} */
.input-group {
  /* flex-basis: 45%; */
  margin-bottom: 20px;
}
.input-group input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
}
.text-group {
    display: flex;
    flex-direction: column;
}
.text-group textarea,
input:focus {
    outline: none;
}
textarea {
  padding: 10px;
}

textarea,
input {
    background-color: black;
    color: #fff;
  border: 1px solid #fff;
}
form .button {
  text-align: center;
}
form .btn {
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 2px;
}
.address {
  margin-top: 100px;
}
.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.contact-us .fa {
  flex-basis: 20%;
  font-size: 25px;
  text-align: center;
}
.contact-us a {
  flex-basis: 70%;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
.result {
  animation-name: moveUp;
    animation-duration: .7s;
    display: inline-block;
    background-color: #fff;
    border-radius: 30px;
    padding: 8px 10px;
  }
  .result p {
  color: black;

}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1140px) {
    .contact-box {
    width: auto;
    flex-direction: column;
  }
  .result p{
    font-size: 14px;
  }
}