.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;

}
.project-container {
    max-width: 1140px;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.project-card {
    background: #1a1919;
    align-self: normal;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: 10px;
    padding: 20px;
    align-items: center;
}
.project-card img {
    width: 100%;
}
.project-title {
    color: white;
    padding: 1rem 0;
}

.pro-details p {
    padding-bottom: 1rem;
    font-size: 16px;
    text-align: justify;
    margin: 10px 0;
}

/* .pro-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
} */
.bxs-right-arrow-alt {
    position: relative;
    top: 3px;
    font-size: 20px;
}

.project-card .btn {
    margin-top: auto;
    padding: 10px 30px;
}

@media screen and (max-width: 740px) {
    .project-container {
        flex-direction: column;
        width: 90%;
    /* max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr; */
}
.project-card .btn{
    font-size: 13px;
    padding: 5px 20px;
}
}